.App {
	background-image: url(../images/the-new-york-public-library-_b77yIWx5Ag-unsplash.jpg);
	background-position: "center";
	background-size: cover;
	/* background-repeat: "no-repeat"; */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.main {
	padding: 50px;
	/* padding-left: 50px;
	padding-right: 50px; */
	background-color: #e2dfd4;
	opacity: 0.9;
	border-radius: 500px;
}
